.section {
  @apply py-16;
}

.container {
  @apply max-w-[1000px];
}

.form-inputs * {
  @apply mb-5 leading-10;
}

.img-cover {
  @apply leading-none;
  span {
    @apply h-full w-full;
  }
  img {
    @apply object-cover;
  }
}

.author-image {
  @apply mr-2 align-top;
  img {
    @apply max-h-[25px] max-w-[25px] rounded-full;
  }
}

.social-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply block h-12 w-12 rounded-lg border border-light bg-transparent text-center text-white transition hover:border-primary hover:bg-primary;
      svg {
        @apply m-auto h-12 text-lg;
      }
    }
  }
}

.social-icons-simple {
  @apply space-x-2;
  li {
    @apply inline-block;
    a {
      @apply block p-3 text-dark transition hover:text-primary;
      svg {
        @apply text-lg;
      }
    }
  }
}

.social-share {
  @apply space-x-2;
  li {
    @apply inline-block;
    a {
      @apply block p-3 transition hover:text-primary;
    }
  }
}

.form-input,
.form-textarea {
  @apply rounded-lg border-border bg-theme-light px-5 py-3 focus:border-primary focus:ring-transparent;
}
.search-modal {
  background-color: transparent !important;
}

.button {
  @apply bg-primary text-primary;
}

.content {
  @apply prose max-w-none prose-headings:font-bold prose-headings:text-text prose-h1:mb-4 prose-h1:text-h1-sm prose-h2:mb-4 prose-h2:mt-4 prose-h2:text-h2-sm prose-h3:mt-4 prose-h3:text-h3-sm prose-h4:mt-4 prose-h5:mb-4 prose-h6:mb-6 prose-p:text-text prose-a:text-primary prose-blockquote:border-primary prose-blockquote:bg-theme-light prose-blockquote:p-4 prose-blockquote:text-text prose-strong:text-text prose-code:text-primary prose-li:text-text prose-td:text-text md:prose-h1:text-h1 md:prose-h2:text-h2 md:prose-h3:text-h3;

  img {
    border-radius: 30px;
  }
}

.tickerContainer {
  overflow: hidden;
}

.tickerWrapper {
  display: flex;
  animation: tickerScroll 15s linear infinite;
}

.tickerList {
  display: flex;
  padding: 0;
  margin: 0;
}

.tickerItem {
  display: inline-flex;
  align-items: center;
  padding-right: 30px;
  white-space: nowrap;
}

.coinName {
  font-weight: bold;
  margin-right: 10px;
}

.coinPrice {
  font-weight: bold;
}

.green {
  color: green;
}

.red {
  color: red;
}

@keyframes tickerScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.card {
  border: 1px solid rgb(84 90 106);
  border-radius: 20px;
  background: #212121;
  box-shadow: 5px 5px 8px #1b1b1b, -5px -5px 8px #272727;
  padding: 10px;
  transition: all 0.3s ease;
}

.card:hover,
.card:focus,
.card:active {
  border: 1px solid rgba(229, 194, 0, 0.7);
  box-shadow: 5px 5px 8px rgba(229, 194, 0, 0.7),
    -5px -5px 8px rgba(15, 15, 15, 0.7);
}

.card:focus {
  outline: none;
}

.staking-calculator {
  padding: 20px;
  max-width: 700px;
  margin: auto;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 15px;
  margin-top: 15px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-field {
  margin-left: 10px;
  padding: 10px;
  width: 100%;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #555;
}

.duration-wrapper {
  display: flex;
  align-items: center;
}

.result h3 {
  margin-top: 20px;
}

.profit {
  color: #00e900;
}

.default {
  color: #fff;
}
